@import "tailwindcss/components";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
:root {
  width: 100%;
  margin: 0;
  background: #f1f2f6;
}
::-webkit-scrollbar {
  display: none;
}
::selection {
  background: #d1faef;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
.text-secondary {
  color: #d5f8e5;
}
body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  margin: 0;
}
li {
  @apply list-none;
}
a {
  @apply no-underline cursor-pointer;
  color: black;
}
button {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
input {
  font-family: "Poppins", sans-serif;
}
input[type="radio"] {
  accent-color: #1c1c1c;
}
.link {
  @apply p-3 gap-2 flex text-sm  items-center md:cursor-pointer cursor-default duration-300;
  color: #919191;
}
.active {
  color: #1c1c1c;
  border-right: #1c1c1c 3px solid;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.text-secondary {
  color: #ababab;
}
.bg-secondary {
  background-color: #d5f8e5;
}
